extends layout

block content
  ul.app
    div.blur.blur-bg
    li.left
      div.info-setting
        div.user
          div.user-avater
            img.avater-img(src= user? user.avater: "images/avater/0.jpg")
          h5.user-name= user? user.username :'用户名'
        div.setting
          i.setting-icon.icon
        ul.dropdown-menu.menu-group
          li.menu-item#userProfile
            i.user-profile.icon
            span="个人中心"
          li.menu-item#systemSetting
            i.system-setting.icon
            span="系统设置"
          li.menu-item#about
            i.about.icon
            span="关于"
          li.menu-item#reward
            i.reward.icon
            span="打赏"
          li.menu-item#logout
            i.logout.icon
            span="退出登录"
      div.tab-panel
        ul.tab-head
          li.chats-head
            i.chats-icon.icon.active(data-target="chats-body", title="聊天")
          li.friends-head
            i.friends-icon.icon(data-target="friends-body", title="用户")
        ul.tab-body
          li.chats-body.active
          li.friends-body
            if usersList
              each roomItem in roomsList
                div.friend-item(data-username=roomItem.username, data-avater=roomItem.avater, data-isRoom="true")
                  img(src=roomItem.avater)
                  p=roomItem.username
              each userItem in usersList
                div.friend-item(data-username=userItem.username, data-avater=userItem.avater, data-isRoom="false", data-isOnline=userItem.isOnline)
                  img(src=userItem.avater)
                  p=userItem.username
    li.right
      div.non-chat-box
        div.non-chat-head
        div.non-chat-body
          div.non-chat-message
            div.non-chat-img
            p="未选择聊天"
      ul.chat-box
        li.chat-box-head
          span.chat-box-title
        li.chat-box-body
        li.chat-box-foot
          div.tool-bar
            a.icon.showEmoj(href="javascript:;", title="发送表情")
            label.icon.p2pFiles(for="p2p-files-input", title="P2P分享文件")
            label.icon.sendFiles(for="send-file-input", title="发送文件")
            input.p2p-files-input(type="file", id="p2p-files-input", name="p2p-files-input")
            input.send-file-input(type="file", id="send-file-input", name="send-file-input")
            div.emoji-container
              ul.emoji-head
                li.emoji-face1-head.active(data-target="emoji-face1-body")="qq表情"
                li.emoji-face2-head(data-target="emoji-face2-body")="百度表情"
              ul.emoji-body
                li.emoji-face1-body.active
                li.emoji-face2-body
          div.content
            pre.message(contenteditable="true")
          div.action
            input#sendMessage.send-message(type="button", value="发送")
            span.tip-message="按下Ctrl+Enter换行"
